@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a, button {
        @apply transition-all duration-200 ease-linear
    }
}

@layer utilities {
    .gradient-1 {
        background: linear-gradient(96.6deg, #273658 23.09%, #182237 81.51%, #9BACD3 138.73%);
    }

    .green-gradient {
        background: linear-gradient(98.94deg, #20A354 1.5%, #16B074 99.55%);
    }

    .bluish-gradient {
        background: linear-gradient(98.94deg, #107DD8 1.5%, #7173E0 99.55%);
    }

    .reddish-gradient {
        background: linear-gradient(98.94deg, #DC356D 1.5%, #7460F4 99.55%);
    }

    .transparent-gradient {
        background: linear-gradient(98.94deg, #FFFFFF 1.5%, #F2F2F2 99.55%);
    }
}

@layer components {
    .active-dash {
        @apply relative before:w-1 before:h-full before:absolute before:bg-[#20A354] before:left-0
    }

    .short-btn {
        @apply bg-white rounded-[3px] shadow-[-7px_7px_15px_rgba(0,0,0,0.12)] px-3 py-1.5 text-[13px] hover:bg-opacity-[0.85]
    }
}